body {
	background: url(https://source.unsplash.com/g-erOiuDxro);
	background-size: cover;
	padding-top: 50px;
}

.navbar-default {
	background: url(https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg);
	background-size: cover;
}

.about-crema {
	padding-top: 10%;
	text-align: center;
	color: #FFFFFF;
	font-family:'Barrio', cursive;
	/*font-weight: bold;*/
}

.about-crema p {
	padding-top: 30px;
}

.navbar-default .navbar-nav>li>a {
	color: #000000;
	/*font-weight: bold;*/
	/*font-family: 'Barrio', cursive;*/
	/*font-weight: bold;*/
	font-size: 15px; 
}

.navbar-default .navbar-brand {
	color: #000000;
	font-family: 'Barrio', cursive;
	font-weight: bold;
}
