body {
	background: url(https://source.unsplash.com/g-erOiuDxro);
	background-size: cover;
	padding-top: 50px;
}

.about-crema {
	padding-top: 10%;
	text-align: center;
	color: #FFFFFF;
	font-family:'Barrio', cursive;
	/*font-weight: bold;*/
}

.about-crema p {
	padding-top: 30px;
}