body {
	padding-top: 10%;
	/*font-family: barrio;*/
	background: url(https://source.unsplash.com/CSQQ6_T0sks);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

.form-control {
	width: 50%;
}

.form-horizontal {
	padding-left: 20%;
}

h3 {
	padding-left: 36%;
	padding-bottom: 10px;
	font-family: 'Barrio', cursive;
	color: #FFFFFF;
}

label {
	color: #FFFFFF;
	font-family: 'Barrio', cursive;
}

button {
	font-family: 'Barrio', cursive;
}
